*{
  background-color: #000;
}
.slider{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width: 802px;
  height: 535px;
  border-radius: 10px;
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #32a2ef;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #32a2ef;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.h1-class{
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.h2-class {
    background-color: rgba(0, 0, 0, .45);
    bottom: 15px;
    color: #eee;
    font-size: 24px;
    left: 0%;
    padding: 10px 40px;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 1080;
}